@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');

:root {
    --primary: #d9d9d9;
    --font-family: 'Cairo', sans-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Styling Header Section */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;

    border-bottom: solid 1px rgb(93, 93, 93);
    margin-bottom: 30px;
}

.header-nav h1 {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
    margin-left: 15px;
}

.header-nav nav {
    display: flex;
    /* Add other styles as needed */
    align-items: center;

    text-align: center;
}

.header-nav nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1rem;
}

.header-nav nav li {
    margin-right: 20px;
    padding: 1rem;
    /* Add other styles as needed */
}

.header-nav nav li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.header-nav nav li:hover {
    cursor: pointer;
    background-color: rgba(149, 149, 149, 0.5);
}

/** Biography Flex Container */

.biography-container {
    display: flex;
    border-radius: 5px;
    align-items: flex-start;
    background-color: var(--primary);
    padding: 20px;
    max-width: 90%;
    max-height: fit-content;
    margin: 30px auto;
}


.profile-picture {
    align-items: center;
    flex: 0 0 43%;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bio-text {
    flex: 1;
}

.bio-text h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.bio-text h3 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0;
}

.bio-text p {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4em;
}


.bio-text ul{
    list-style-type: square;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: normal;
}

.bio-text .list-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.bio-text .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: lighter;
    margin-bottom: 20px;
}

.bio-text .links {
    display:flex;
    align-content: center;
    justify-content: space-evenly;
}

/** Contact Form Section */
.contact-container {
    border-radius: 5px;
    background-color: var(--primary);
    padding: 20px;
    max-width: 75%;
    max-height: fit-content;
    margin: 20px auto;
}

.contact-container h1 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-container textarea {
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0 0.5em;
    border-radius: 5px;
    width: 98%;
    height: 8rem;
    resize: vertical;
    margin-bottom: 20px;
}

.contact-container .submit {
    font-weight: bold;
    font-size: 0.875rem;
    width: 15rem;
    height: 2rem;
    background-color: black;
    color: white;

    display:flex;
    justify-content:center;
    align-items:center;

    margin: 0 auto;
}

.contact-container .submit:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 1px solid black;
}

